@charset "UTF-8";

body{
    background-color: rgba(177, 177, 177, 0.234);
    background-image: linear-gradient(to bottom ,#dae1e1, #B8C1B7 );
    text-align: center;
}
h1{
    
}
h2, h3{
    color: #353535;
    font: normal 25px;
}
p{
    color: rgba(0, 0, 0, 0.877);
    font: normal 15px arial;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: rgb(84, 71, 201);
}
li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}