@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family = Varela + Round & display = swap');

@import url('https://fonts.googleapis.com/css2? family = Khand: wght @ 300; 400; 500; 600; 700 & display = swap');

@import url('https://fonts.googleapis.com/css2? family = Flamenco: wght @ 300; 400 & display = swap'); 

@import url('https://fonts.googleapis.com/css2? family = Open + Sans: ital, wght @ 0,300; 0,400; 0,600; 0,700; 1,300; 1,400; 1,600 & display = swap'); 

body{
    font-size: 1em;
    font-weight: lighter;
    font-style: normal;
    background-color: rgba(177, 177, 177, 0.234);
    background-image: linear-gradient(to bottom ,#F0F0F0, #DBDBDB );
    text-align: center;
}
h1{
    color: #060D61;
    font: normal 300 2.6em 'Flamenco', cursiva;
}
h2, h3{
    color: rgb(36, 36, 36);
    font-family:'Varela Round', sans-serif;
    font-size: 1.7em;
}
p{
    color: rgb(19, 19, 22);
    font-style: normal;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif ;
    text-align: center;
    font-size: 1.1em;
}
a{
    color: #0D1EDB;
    font: oblique 400 1em 'Flamenco', cursiva;
}
li{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}